/* Estilos para el contenedor principal */
.contenedor-personalizado {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fff7f7; /* Color de fondo */
    border-radius: 10px; /* Bordes redondeados */
    width: 45%; /* Ancho del contenedor */
    margin-left: 25%; /* Alinear el contenedor hacia la derecha */
    margin-top: 20px; /* Margen superior para bajar el contenedor */
    position: relative; /* Posición relativa para el borde */
}

/* Estilos para el borde inferior */
.borde-final {
    border-top: 1px solid black; /* Borde superior de color negro */
    padding-top: 10px; /* Espacio entre el borde y el contenido */
    background-color: #9c8585; /* Color de fondo */
}



/* Estilos para los textos dentro del borde */
.texto-borde {
    margin-right: 20px; /* Espacio entre los textos dentro del borde */
}

/* Estilos para la imagen de fondo */
.imagen-fondo {
    width: 50%; /* Ancho de la imagen */
    height:50%;
    /* Otros estilos si es necesario */
}

.imagen-esquina {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}


.texto-pequeno-personalizado {
    font-size: 14px; /* Tamaño de fuente */
    margin-bottom: 5px; /* Espacio entre cada texto */
    display: inline-flex; /* Hace que los elementos sean dispuestos en línea */
    align-items: center; /* Alinea verticalmente los elementos */
    margin-left: 18px; /* Agrega un margen a la izquierda del texto */
    /* Otros estilos según sea necesario */
}
